/** HEADER **/
#header-nav {
  border-radius: 0;
  border: 0;
}

#head-nav-container.container-fluid {
  background-color: #999999;
  border: 1px solid #000;
}

#main-content.container-fluid {
  margin: 15px;
  background-color: #999999;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: Helvetica;
  color: #000;
  font-size: 1.5em;
  margin-top: -5px;
  margin-bottom: 0px;
  padding: 0px;
  vertical-align: middle;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}

hr {
  margin: 10px;
  border-top: 2px solid #000;
}

#nav-list {
  margin-top: 10px;
}
#nav-list p {
  color: #000;
}

p.chicken {
  font-size: 1.5em;
  padding-top: 10px;
}

#main-content.container {
  margin: 15px;
  background-color: #999999;
}

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    font-size: 4vw; /* 1vw = 1% of viewport width */
    padding-top: 5px;
    margin-top: -5px;
  }
    #collapsable-nav {
  background-color: #fff;
  border: 1px solid #000;
}
  /* End Header */

}